Tracking/Web References/api.despatchbaypro.com/tracking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:despatchbay" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:despatchbay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:despatchbay">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="TrackingCodeType">
        <xsd:all>
          <xsd:element name="Code" type="xsd:int" />
          <xsd:element name="Description" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTrackingCodeType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:TrackingCodeType[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TrackingType">
        <xsd:all>
          <xsd:element name="Date" type="xsd:string" />
          <xsd:element name="Time" type="xsd:string" />
          <xsd:element name="Code" type="xsd:string" />
          <xsd:element name="Description" type="xsd:string" />
          <xsd:element name="Location" type="xsd:string" />
          <xsd:element name="Signatory" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTrackingType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:TrackingType[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetTrackingRequest">
    <wsdl:part name="trackingNumber" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetTrackingResponse">
    <wsdl:part name="return" type="tns:ArrayOfTrackingType" />
  </wsdl:message>
  <wsdl:portType name="TrackingServicePortType">
    <wsdl:operation name="GetTracking">
      <documentation>Returns tracking information for a tracking number</documentation>
      <wsdl:input message="tns:GetTrackingRequest" />
      <wsdl:output message="tns:GetTrackingResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrackingServiceBinding" type="tns:TrackingServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetTracking">
      <soap:operation soapAction="urn:despatchbay#GetTracking" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackingService">
    <wsdl:port name="TrackingServicePort" binding="tns:TrackingServiceBinding">
      <soap:address location="http://api.despatchbaypro.com/soap/v11/tracking.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>