Addressing/Web References/api.despatchbay.com/addressing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:despatchbay" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:despatchbay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:despatchbay">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="AddressKeyType">
        <xsd:all>
          <xsd:element name="Key" type="xsd:string" />
          <xsd:element name="Address" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CountryType">
        <xsd:all>
          <xsd:element name="Code" type="xsd:string" />
          <xsd:element name="Name" type="xsd:string" />
          <xsd:element name="Transit" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AddressType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Street" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Locality" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="TownCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PostalCode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CountryCode" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAddressKeyType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:AddressKeyType[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCountryType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:CountryType[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FindAddressRequest">
    <wsdl:part name="postcode" type="xsd:string" />
    <wsdl:part name="property" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FindAddressResponse">
    <wsdl:part name="return" type="tns:AddressType" />
  </wsdl:message>
  <wsdl:message name="GetAddressByKeyRequest">
    <wsdl:part name="key" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetAddressByKeyResponse">
    <wsdl:part name="return" type="tns:AddressType" />
  </wsdl:message>
  <wsdl:message name="GetAddressKeysByPostcodeRequest">
    <wsdl:part name="postcode" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetAddressKeysByPostcodeResponse">
    <wsdl:part name="return" type="tns:ArrayOfAddressKeyType" />
  </wsdl:message>
  <wsdl:portType name="AddressingServicePortType">
    <wsdl:operation name="FindAddress">
      <documentation>Returns an address by searching on a given postcode/property combination</documentation>
      <wsdl:input message="tns:FindAddressRequest" />
      <wsdl:output message="tns:FindAddressResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressByKey">
      <documentation>Returns the address relating to a given AddressKey (as returned by GetAddressKeysByPostcode)</documentation>
      <wsdl:input message="tns:GetAddressByKeyRequest" />
      <wsdl:output message="tns:GetAddressByKeyResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressKeysByPostcode">
      <documentation>Returns all known addresses (with addressKeys) for a given postcode</documentation>
      <wsdl:input message="tns:GetAddressKeysByPostcodeRequest" />
      <wsdl:output message="tns:GetAddressKeysByPostcodeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressingServiceBinding" type="tns:AddressingServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="FindAddress">
      <soap:operation soapAction="urn:despatchbay#FindAddress" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressByKey">
      <soap:operation soapAction="urn:despatchbay#GetAddressByKey" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressKeysByPostcode">
      <soap:operation soapAction="urn:despatchbay#GetAddressKeysByPostcode" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressingService">
    <wsdl:port name="AddressingServicePort" binding="tns:AddressingServiceBinding">
      <soap:address location="http://api.despatchbay.com/soap/v14/addressing.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>