Shipping/Web References/api.despatchbaypro.com/shipping.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:despatchbay" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:despatchbay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:despatchbay">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ServiceType">
        <xsd:all>
          <xsd:element name="ServiceID" type="xsd:int" />
          <xsd:element name="Name" type="xsd:string" />
          <xsd:element name="Cost" type="xsd:float" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfServiceType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:ServiceType[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ShipmentReturnType">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="ShipmentID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ServiceID" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CreateDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ParcelQuantity" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Printed" type="xsd:bool" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartTrackingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EndTrackingNumber" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Despatched" type="xsd:bool" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DespatchDate" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="OrderReference" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Contents" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CompanyName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Street" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Locality" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Town" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Postcode" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientEmail" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="EmailNotification" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="DashboardNotification" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfShipmentReturnType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:ShipmentReturnType[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ShipmentRequestType">
        <xsd:all>
          <xsd:element minOccurs="1" maxOccurs="1" name="ServiceID" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ParcelQuantity" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OrderReference" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contents" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RecipientName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Street" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Locality" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Town" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Postcode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecipientEmail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EmailNotification" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DashboardNotification" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetDomesticServicesRequest">
    <wsdl:part name="postcode" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetDomesticServicesResponse">
    <wsdl:part name="return" type="tns:ArrayOfServiceType" />
  </wsdl:message>
  <wsdl:message name="GetDomesticServicesByPostcodeRequest">
    <wsdl:part name="postcode" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetDomesticServicesByPostcodeResponse">
    <wsdl:part name="return" type="tns:ArrayOfServiceType" />
  </wsdl:message>
  <wsdl:message name="GetShipmentRequest">
    <wsdl:part name="ShipmentID" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetShipmentResponse">
    <wsdl:part name="return" type="tns:ShipmentReturnType" />
  </wsdl:message>
  <wsdl:message name="AddDomesticShipmentRequest">
    <wsdl:part name="Shipment" type="tns:ShipmentRequestType" />
  </wsdl:message>
  <wsdl:message name="AddDomesticShipmentResponse">
    <wsdl:part name="ShipmentID" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="ShippingServicePortType">
    <wsdl:operation name="GetDomesticServices">
      <documentation>Returns all available courier services for your account</documentation>
      <wsdl:input message="tns:GetDomesticServicesRequest" />
      <wsdl:output message="tns:GetDomesticServicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDomesticServicesByPostcode">
      <documentation>Returns the courier services available at the destination postcode</documentation>
      <wsdl:input message="tns:GetDomesticServicesByPostcodeRequest" />
      <wsdl:output message="tns:GetDomesticServicesByPostcodeResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetShipment">
      <documentation>Returns Shipment Detail</documentation>
      <wsdl:input message="tns:GetShipmentRequest" />
      <wsdl:output message="tns:GetShipmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddDomesticShipment">
      <documentation>Queues a new shipment</documentation>
      <wsdl:input message="tns:AddDomesticShipmentRequest" />
      <wsdl:output message="tns:AddDomesticShipmentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShippingServiceBinding" type="tns:ShippingServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetDomesticServices">
      <soap:operation soapAction="urn:despatchbay#GetDomesticServices" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomesticServicesByPostcode">
      <soap:operation soapAction="urn:despatchbay#GetDomesticServicesByPostcode" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShipment">
      <soap:operation soapAction="urn:despatchbay#GetShipment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomesticShipment">
      <soap:operation soapAction="urn:despatchbay#AddDomesticShipment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:despatchbay" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShippingService">
    <wsdl:port name="ShippingServicePort" binding="tns:ShippingServiceBinding">
      <soap:address location="http://api.despatchbaypro.com/soap/v11/shipping.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>